html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#top {
    text-align: center;
    margin: 0 auto;
}

#top h1 {
    font-size: 3em;
}

h2 {
    text-align: center;
    font-size: 2em;
}

#search {
    text-align: center;
    font-size: 1em;
}

.content {
    margin: 1em;
    font-size: 1.5em;
}