html, body {
    background-color: lightgray;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#top {
    margin: 0 auto;
}

#top h1 {
    font-size: 3em;
    text-align: center;
}

#wrapper {
    background-color: white;
    padding: 1em;
}

h2 {
    font-size: 2em;
    text-align: center;
}

b {
    font-size: 1.5em;
}

#response, #search {
    text-align: center;
}

#deck, #extra-deck, #results {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    column-gap: 10px;
}

footer {
    background-color: lightgray;
    padding: 1em;
    text-align: center;
}